body {
    margin: 0;
    padding: 0;
    background: url(https://i.ibb.co/VQmtgjh/6845078.png) no-repeat;
    height: 100vh;
    font-family: sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden
}

/* @media screen and (max-width: 600px) {
    body {
        background-size: cover;
        : fixed
    }
} */

#particles-js {
    height: 100%
}

.registerbox {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    min-height: 350px;
    background: #000000;
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box
}

.avatardiv {
    overflow: auto;
    height: 433px;
    width: 310px;
}

.avat {
    margin: 10px 8px;
    height: 128px;
    width: 128px;
}   

.user {
    margin: 0 auto;
    display: block;
    margin-bottom: 20px
}

h3 {
    margin: 0;
    padding: 0 0 20px;
    color: #59238F;
    text-align: center
}

.registerbox input {
    width: 100%;
    margin-bottom: 20px
}

.registerbox input[type="text"],
.registerbox input[type="email"],
.registerbox input[type="number"],
.registerbox input[type="password"] {
    border: none;
    border-bottom: 2px solid #262626;
    outline: none;
    height: 25px;
    color: #fff;
    background: transparent;
    font-size: 16px;
    padding-left: 20px;
    box-sizing: border-box
}

.registerbox input[type="text"]:hover,
.registerbox input[type="email"]:hover,
.registerbox input[type="number"]:hover,
.registerbox input[type="password"]:hover {
    color: #42F3FA;
    border: 1px solid #42F3FA;
    box-shadow: 0 0 5px rgba(0, 255, 0, .3), 0 0 10px rgba(0, 255, 0, .2), 0 0 15px rgba(0, 255, 0, .1), 0 2px 0 black
}

.registerbox input[type="text"]:focus,
.registerbox input[type="email"]:focus,
.registerbox input[type="number"]:focus,
.registerbox input[type="password"]:focus {
    border-bottom: 2px solid #42F3FA
}
/* 
.inputBox {
    position: relative
} */
.radioinput{
    color: rgb(151, 148, 148);
    width: 200px;
    display: block;
    width: 90px;
    display: inline-block;
    text-align: center;
}

.registerbox span {
    position: absolute;
    top: 10px;
    color: #262626
}

.registerbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    background: #59238F;
    color: #fff;
    border-radius: 20px;
    cursor: pointer
}

.registerbox a {
    color: #262626;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: block
}

a:hover {
    color: #00ffff
}

p {
    color: #0000ff
}